form {
  label span {
    @apply mb-4 block;
  }

  input[type='submit'] {
    @apply bg-black text-white pl-6 pr-6 pt-3 pb-3 hover:bg-gray-500 border-4 border-black cursor-pointer;
  }

  input[type='text'], input[type='email'], input[type='url'], input[type='password'], input[type='number'], input[type='date'], input[type='datetime-local'], input[type='month'], input[type='search'], input[type='tel'], input[type='time'], input[type='week'], input[multiple], textarea, select {
    @apply w-full
  }

}