@layer base {
  @font-face {
    font-family: Nunito;
    font-style: normal;
    font-weight: 200;
    src: url(./fonts/vendor/typeface-nunito/files/nunito-latin-200.woff) format("woff");
    src: url(./fonts/vendor/typeface-nunito/files/nunito-latin-200.woff2) format("woff2");
  }
  @font-face {
    font-family: Nunito;
    font-weight: 200;
    font-style: italic;
    src: url(./fonts/vendor/typeface-nunito/files/nunito-latin-200italic.woff) format("woff");
    src: url(./fonts/vendor/typeface-nunito/files/nunito-latin-200italic.woff2) format("woff2");
  }
  @font-face {
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    src: url(./fonts/vendor/typeface-nunito/files/nunito-latin-300.woff) format("woff");
    src: url(./fonts/vendor/typeface-nunito/files/nunito-latin-300.woff2) format("woff2");
  }
  @font-face {
    font-family: Nunito;
    font-weight: 300;
    font-style: italic;
    src: url(./fonts/vendor/typeface-nunito/files/nunito-latin-300italic.woff) format("woff");
    src: url(./fonts/vendor/typeface-nunito/files/nunito-latin-300italic.woff2) format("woff2");
  }
  @font-face {
    font-family: Nunito;
    font-weight: 400;
    font-style: normal;
    src: url(./fonts/vendor/typeface-nunito/files/nunito-latin-400.woff) format("woff");
    src: url(./fonts/vendor/typeface-nunito/files/nunito-latin-400.woff2) format("woff2");
  }
  @font-face {
    font-family: Nunito;
    font-weight: 400;
    font-style: italic;
    src: url(./fonts/vendor/typeface-nunito/files/nunito-latin-400italic.woff) format("woff");
    src: url(./fonts/vendor/typeface-nunito/files/nunito-latin-400italic.woff2) format("woff2");
  }
  @font-face {
    font-family: Nunito;
    font-weight: 600;
    font-style: normal;
    src: url(./fonts/vendor/typeface-nunito/files/nunito-latin-600.woff) format("woff");
    src: url(./fonts/vendor/typeface-nunito/files/nunito-latin-600.woff2) format("woff2");
  }
  @font-face {
    font-family: Nunito;
    font-weight: 600;
    font-style: italic;
    src: url(./fonts/vendor/typeface-nunito/files/nunito-latin-600italic.woff) format("woff");
    src: url(./fonts/vendor/typeface-nunito/files/nunito-latin-600italic.woff2) format("woff2");
  }
  @font-face {
    font-family: Nunito;
    font-weight: 700;
    font-style: normal;
    src: url(./fonts/vendor/typeface-nunito/files/nunito-latin-700.woff) format("woff");
    src: url(./fonts/vendor/typeface-nunito/files/nunito-latin-700.woff2) format("woff2");
  }
  @font-face {
    font-family: Nunito;
    font-weight: 700;
    font-style: italic;
    src: url(./fonts/vendor/typeface-nunito/files/nunito-latin-700italic.woff) format("woff");
    src: url(./fonts/vendor/typeface-nunito/files/nunito-latin-700italic.woff2) format("woff2");
  }
  @font-face {
    font-family: Nunito;
    font-weight: 800;
    font-style: normal;
    src: url(./fonts/vendor/typeface-nunito/files/nunito-latin-800.woff) format("woff");
    src: url(./fonts/vendor/typeface-nunito/files/nunito-latin-800.woff2) format("woff2");
  }
  @font-face {
    font-family: Nunito;
    font-weight: 800;
    font-style: italic;
    src: url(./fonts/vendor/typeface-nunito/files/nunito-latin-800italic.woff) format("woff");
    src: url(./fonts/vendor/typeface-nunito/files/nunito-latin-800italic.woff2) format("woff2");
  }
  @font-face {
    font-family: Nunito;
    font-weight: 900;
    font-style: normal;
    src: url(./fonts/vendor/typeface-nunito/files/nunito-latin-900.woff) format("woff");
    src: url(./fonts/vendor/typeface-nunito/files/nunito-latin-900.woff2) format("woff2");
  }
  @font-face {
    font-family: Nunito;
    font-weight: 900;
    font-style: italic;
    src: url(./fonts/vendor/typeface-nunito/files/nunito-latin-900italic.woff) format("woff");
    src: url(./fonts/vendor/typeface-nunito/files/nunito-latin-900italic.woff2) format("woff2");
  }
}
