/*!
Theme Name: commoning
Theme URI: http://underscores.me/
Author: Stephan Deglow
Author URI: https://deglowdesign.de
Description: Description
Version: 0.13.0
Tested up to: 5.4
Requires PHP: 7.3
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: commoning
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

commoning is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
@tailwind base;
a {
  &:hover {
    text-decoration: underline;

    svg {
      fill: currentColor;
    }
  }

  &:focus {
    text-decoration: underline;
  }
}

@tailwind components;

@tailwind utilities;

@import "fonts/typeface-nunito";
@import "pages/page-aktiv";
@import "components/forms";

h2 {
  @apply font-black mb-4;
}

.circle {
  width: 1000px;
  height: 1000px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: rgba(37, 98, 70, 1);
  left: -15%;
  //right: -15%;
  //top: -25%;
}

#call_to_action_interessiert p {
  @apply font-bold ;
  @screen xl {
    @apply mb-4 font-black;
  }
}

#unfold_me h2 {
  @apply text-2sm;
}

@screen 2xl {
  #unfold_me h2 {
    @apply text-lg;
  }
}

.possibilities-decoration {
  left: -14rem;
}

@screen lg {
  .possibilities-decoration {
    left: -6rem;
    top: -2rem;
    @apply transform scale-110;
  }
}


#howtosupport {
  li {
    a {
      @apply underline;
    }

    @apply mb-8;
    &:first-child {
      position: relative;
      //top: 1.4rem;
      top: 3.2rem;
    }

    &:nth-child(even) {
      position: relative;
      //top: 3.3rem;
      top: 5.3rem;
    }

    &:last-child {
      position: relative;
      //top: 7.1rem;
      top: 9.1rem;
    }
  }
}

#call_to_action_einladung {
  a {
    @apply underline;
  }
}

@screen lg {
  #howtosupport {
    li {
      @apply mb-16;
      &:first-child {
        position: static;
      }

      &:nth-child(even) {
        position: static;
      }

      &:last-child {
        position: static;
      }
    }
  }
}

.well_find_us li {
  @apply mb-8  ml-12;
  a {
    @apply underline;
  }
}

.system_call_to_action li {
  @apply mb-8 mt-8 ml-12;
  a {
    @apply underline;
  }
}

@screen md {
  .well_find_us ul {
    @apply mt-5 ;
    li {
      @apply mb-16 ml-24 mt-0;
      a {
        @apply underline;
      }
    }
  }
}

@screen lg {
  .well_find_us ul {
    @apply mt-10 ;
    li {
      @apply mb-16 ml-12 mt-0;
      a {
        @apply underline;
      }
    }
  }
}

@screen 2xl {
  .well_find_us ul {
    @apply mt-10 pl-24;
    li {
      @apply mb-28 ml-12 mt-0;
      a {
        @apply underline;
      }
    }
  }

  .system_call_to_action ul {
    @apply mt-10 pl-24;
    li {
      @apply mb-8 ml-12;
      a {
        @apply underline;
      }
    }
  }
}

.links-default-underlined {
  a {
    @apply underline;
  }
}

@screen lg {
  .links-default-underlined {
    ul {
      @apply ml-12;
    }

    li {
      @apply mb-6;
    }

    p {
      @apply mb-12;
    }
  }
}

#menu-toggle:checked + #site-navigation {
  display: block;
}

#dropdown-toggle:checked + #site-navigation {
  display: block;
}

// GUTENBERG
.entry-content {
  .wp-block-embed, pre {
    // fix top nav desaster
    overflow: hidden;
  }

  h1 {
    @apply text-3xl font-bold ;
  }

  h2 {
    @apply text-2xl font-bold ;
  }

  h3 {
    @apply text-xl ;
  }

  p, ul, ol {
    @apply mb-8;

    a {
      @apply underline;

      &:hover {
        @apply no-underline;
      }
    }
  }

  figure ul li::before {
    display: none;
  }

  ul {
    li {
      @apply list-none list-inside;
    }
  }

  ol {
    li {
      @apply list-decimal list-inside;
    }
  }
}

.block-editor__typewriter {
  @apply font-sans ;
}

.wp-block {
  @apply max-w-screen-lg;
}

.wp-block[data-align=wide] {
  @apply max-w-screen-xl;
}

.wp-block[data-align=full] {
  @apply max-w-full;
}

.has-large-font-size {
  @apply text-3xl leading-9 ;
}

.has-larger-font-size {
  @apply text-4xl leading-10 ;
}
