/*!
Theme Name: commoning
Theme URI: http://underscores.me/
Author: Stephan Deglow
Author URI: https://deglowdesign.de
Description: Description
Version: 0.13.0
Tested up to: 5.4
Requires PHP: 7.3
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: commoning
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

commoning is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*! tailwindcss v2.1.1 | MIT License | https://tailwindcss.com*/

/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */:root{-moz-tab-size:4;-o-tab-size:4;tab-size:4}html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0;font-family:system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji}hr{height:0;color:inherit}abbr[title]{-webkit-text-decoration:underline dotted;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,pre,samp{font-family:ui-monospace,SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}table{text-indent:0;border-color:inherit}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}legend{padding:0}progress{vertical-align:baseline}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}summary{display:list-item}blockquote,dd,dl,figure,h1,h2,h3,h4,h5,h6,hr,p,pre{margin:0}button{background-color:transparent;background-image:none}button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color}fieldset,ol,ul{margin:0;padding:0}ol,ul{list-style:none}html{font-family:Nunito,Avenir,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;line-height:1.5}body{font-family:inherit;line-height:inherit}*,:after,:before{box-sizing:border-box;border:0 solid #e5e7eb}hr{border-top-width:1px}img{border-style:solid}textarea{resize:vertical}input::-moz-placeholder,textarea::-moz-placeholder{color:#9ca3af}input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#9ca3af}input::placeholder,textarea::placeholder{color:#9ca3af}button{cursor:pointer}table{border-collapse:collapse}h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit}a{color:inherit;text-decoration:inherit}button,input,optgroup,select,textarea{padding:0;line-height:inherit;color:inherit}code,kbd,pre,samp{font-family:ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace}audio,canvas,embed,iframe,img,object,svg,video{display:block;vertical-align:middle}img,video{max-width:100%;height:auto}[multiple],[type=date],[type=datetime-local],[type=email],[type=month],[type=number],[type=password],[type=search],[type=tel],[type=text],[type=time],[type=url],[type=week],select,textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none;background-color:#fff;border-color:#6b7280;border-width:1px;border-radius:0;padding:.5rem .75rem;font-size:1rem;line-height:1.5rem}[multiple]:focus,[type=date]:focus,[type=datetime-local]:focus,[type=email]:focus,[type=month]:focus,[type=number]:focus,[type=password]:focus,[type=search]:focus,[type=tel]:focus,[type=text]:focus,[type=time]:focus,[type=url]:focus,[type=week]:focus,select:focus,textarea:focus{outline:2px solid transparent;outline-offset:2px;--tw-ring-inset:var(--tw-empty,/*!*/ /*!*/);--tw-ring-offset-width:0px;--tw-ring-offset-color:#fff;--tw-ring-color:#2563eb;--tw-ring-offset-shadow:var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);--tw-ring-shadow:var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);box-shadow:var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 transparent);border-color:#2563eb}input::-moz-placeholder,textarea::-moz-placeholder{color:#6b7280;opacity:1}input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#6b7280;opacity:1}input::placeholder,textarea::placeholder{color:#6b7280;opacity:1}select{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3E%3C/svg%3E");background-position:right .5rem center;background-repeat:no-repeat;background-size:1.5em 1.5em;padding-right:2.5rem;-webkit-print-color-adjust:exact;color-adjust:exact}[multiple]{background-image:none;background-position:0 0;background-repeat:unset;background-size:initial;padding-right:.75rem;-webkit-print-color-adjust:unset;color-adjust:unset}[type=checkbox],[type=radio]{-webkit-appearance:none;-moz-appearance:none;appearance:none;padding:0;-webkit-print-color-adjust:exact;color-adjust:exact;display:inline-block;vertical-align:middle;background-origin:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;flex-shrink:0;height:1rem;width:1rem;color:#2563eb;background-color:#fff;border-color:#6b7280;border-width:1px}[type=checkbox]{border-radius:0}[type=radio]{border-radius:100%}[type=checkbox]:focus,[type=radio]:focus{outline:2px solid transparent;outline-offset:2px;--tw-ring-inset:var(--tw-empty,/*!*/ /*!*/);--tw-ring-offset-width:2px;--tw-ring-offset-color:#fff;--tw-ring-color:#2563eb;--tw-ring-offset-shadow:var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);--tw-ring-shadow:var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);box-shadow:var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 transparent)}[type=checkbox]:checked,[type=radio]:checked{border-color:transparent;background-color:currentColor;background-size:100% 100%;background-position:50%;background-repeat:no-repeat}[type=checkbox]:checked{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3E%3C/svg%3E")}[type=radio]:checked{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='3'/%3E%3C/svg%3E")}[type=checkbox]:checked:focus,[type=checkbox]:checked:hover,[type=radio]:checked:focus,[type=radio]:checked:hover{border-color:transparent;background-color:currentColor}[type=checkbox]:indeterminate{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3E%3C/svg%3E");border-color:transparent;background-color:currentColor;background-size:100% 100%;background-position:50%;background-repeat:no-repeat}[type=checkbox]:indeterminate:focus,[type=checkbox]:indeterminate:hover{border-color:transparent;background-color:currentColor}[type=file]{background:unset;border-color:inherit;border-width:0;border-radius:0;padding:0;font-size:unset;line-height:inherit}[type=file]:focus{outline:1px auto -webkit-focus-ring-color}@font-face{font-family:Nunito;font-style:normal;font-weight:200;src:url(fonts/vendor/typeface-nunito/files/nunito-latin-200.woff) format("woff");src:url(fonts/vendor/typeface-nunito/files/nunito-latin-200.woff2) format("woff2")}@font-face{font-family:Nunito;font-weight:200;font-style:italic;src:url(fonts/vendor/typeface-nunito/files/nunito-latin-200italic.woff) format("woff");src:url(fonts/vendor/typeface-nunito/files/nunito-latin-200italic.woff2) format("woff2")}@font-face{font-family:Nunito;font-style:normal;font-weight:300;src:url(fonts/vendor/typeface-nunito/files/nunito-latin-300.woff) format("woff");src:url(fonts/vendor/typeface-nunito/files/nunito-latin-300.woff2) format("woff2")}@font-face{font-family:Nunito;font-weight:300;font-style:italic;src:url(fonts/vendor/typeface-nunito/files/nunito-latin-300italic.woff) format("woff");src:url(fonts/vendor/typeface-nunito/files/nunito-latin-300italic.woff2) format("woff2")}@font-face{font-family:Nunito;font-weight:400;font-style:normal;src:url(fonts/vendor/typeface-nunito/files/nunito-latin-400.woff) format("woff");src:url(fonts/vendor/typeface-nunito/files/nunito-latin-400.woff2) format("woff2")}@font-face{font-family:Nunito;font-weight:400;font-style:italic;src:url(fonts/vendor/typeface-nunito/files/nunito-latin-400italic.woff) format("woff");src:url(fonts/vendor/typeface-nunito/files/nunito-latin-400italic.woff2) format("woff2")}@font-face{font-family:Nunito;font-weight:600;font-style:normal;src:url(fonts/vendor/typeface-nunito/files/nunito-latin-600.woff) format("woff");src:url(fonts/vendor/typeface-nunito/files/nunito-latin-600.woff2) format("woff2")}@font-face{font-family:Nunito;font-weight:600;font-style:italic;src:url(fonts/vendor/typeface-nunito/files/nunito-latin-600italic.woff) format("woff");src:url(fonts/vendor/typeface-nunito/files/nunito-latin-600italic.woff2) format("woff2")}@font-face{font-family:Nunito;font-weight:700;font-style:normal;src:url(fonts/vendor/typeface-nunito/files/nunito-latin-700.woff) format("woff");src:url(fonts/vendor/typeface-nunito/files/nunito-latin-700.woff2) format("woff2")}@font-face{font-family:Nunito;font-weight:700;font-style:italic;src:url(fonts/vendor/typeface-nunito/files/nunito-latin-700italic.woff) format("woff");src:url(fonts/vendor/typeface-nunito/files/nunito-latin-700italic.woff2) format("woff2")}@font-face{font-family:Nunito;font-weight:800;font-style:normal;src:url(fonts/vendor/typeface-nunito/files/nunito-latin-800.woff) format("woff");src:url(fonts/vendor/typeface-nunito/files/nunito-latin-800.woff2) format("woff2")}@font-face{font-family:Nunito;font-weight:800;font-style:italic;src:url(fonts/vendor/typeface-nunito/files/nunito-latin-800italic.woff) format("woff");src:url(fonts/vendor/typeface-nunito/files/nunito-latin-800italic.woff2) format("woff2")}@font-face{font-family:Nunito;font-weight:900;font-style:normal;src:url(fonts/vendor/typeface-nunito/files/nunito-latin-900.woff) format("woff");src:url(fonts/vendor/typeface-nunito/files/nunito-latin-900.woff2) format("woff2")}@font-face{font-family:Nunito;font-weight:900;font-style:italic;src:url(fonts/vendor/typeface-nunito/files/nunito-latin-900italic.woff) format("woff");src:url(fonts/vendor/typeface-nunito/files/nunito-latin-900italic.woff2) format("woff2")}a:hover{text-decoration:underline}a:hover svg{fill:currentColor}a:focus{text-decoration:underline}.container{width:100%}@media (min-width:640px){.container{max-width:640px}}@media (min-width:768px){.container{max-width:768px}}@media (min-width:1024px){.container{max-width:1024px}}@media (min-width:1280px){.container{max-width:1280px}}@media (min-width:1441px){.container{max-width:1441px}}@media (min-width:1920px){.container{max-width:1920px}}.debug-screens:before{position:fixed;z-index:2147483647;bottom:0;left:0;padding:.3333333em .5em;font-size:12px;line-height:1;font-family:sans-serif;background-color:#000;color:#fff;box-shadow:0 0 0 1px #fff;content:"screen: _"}@media (min-width:640px){.debug-screens:before{content:"screen: sm"}}@media (min-width:768px){.debug-screens:before{content:"screen: md"}}@media (min-width:1024px){.debug-screens:before{content:"screen: lg"}}@media (min-width:1280px){.debug-screens:before{content:"screen: xl"}}@media (min-width:1441px){.debug-screens:before{content:"screen: 2xl"}}@media (min-width:1920px){.debug-screens:before{content:"screen: 3xl"}}.prose{color:#374151;max-width:65ch}.prose [class~=lead]{color:#4b5563;font-size:1.25em;line-height:1.6;margin-top:1.2em;margin-bottom:1.2em}.prose a{color:#111827;text-decoration:underline;font-weight:500}.prose strong{color:#111827;font-weight:600}.prose ol[type=A]{--list-counter-style:upper-alpha}.prose ol[type=a]{--list-counter-style:lower-alpha}.prose ol[type="A s"]{--list-counter-style:upper-alpha}.prose ol[type="a s"]{--list-counter-style:lower-alpha}.prose ol[type=I]{--list-counter-style:upper-roman}.prose ol[type=i]{--list-counter-style:lower-roman}.prose ol[type="I s"]{--list-counter-style:upper-roman}.prose ol[type="i s"]{--list-counter-style:lower-roman}.prose ol[type="1"]{--list-counter-style:decimal}.prose ol>li{position:relative;padding-left:1.75em}.prose ol>li:before{content:counter(list-item,var(--list-counter-style,decimal)) ".";position:absolute;font-weight:400;color:#6b7280;left:0}.prose ul>li{position:relative;padding-left:1.75em}.prose ul>li:before{content:"";position:absolute;background-color:#d1d5db;border-radius:50%;width:.375em;height:.375em;top:.6875em;left:.25em}.prose hr{border-color:#e5e7eb;border-top-width:1px;margin-top:3em;margin-bottom:3em}.prose blockquote{font-weight:500;font-style:italic;color:#111827;border-left-width:.25rem;border-left-color:#e5e7eb;quotes:"\201C""\201D""\2018""\2019";margin-top:1.6em;margin-bottom:1.6em;padding-left:1em}.prose blockquote p:first-of-type:before{content:open-quote}.prose blockquote p:last-of-type:after{content:close-quote}.prose h1{color:#111827;font-weight:800;font-size:2.25em;margin-top:0;margin-bottom:.8888889em;line-height:1.1111111}.prose h2{color:#111827;font-weight:700;font-size:1.5em;margin-top:2em;margin-bottom:1em;line-height:1.3333333}.prose h3{font-size:1.25em;margin-top:1.6em;margin-bottom:.6em;line-height:1.6}.prose h3,.prose h4{color:#111827;font-weight:600}.prose h4{margin-top:1.5em;margin-bottom:.5em;line-height:1.5}.prose figure figcaption{color:#6b7280;font-size:.875em;line-height:1.4285714;margin-top:.8571429em}.prose code{color:#111827;font-weight:600;font-size:.875em}.prose code:after,.prose code:before{content:"`"}.prose a code{color:#111827}.prose pre{color:#e5e7eb;background-color:#1f2937;overflow-x:auto;font-size:.875em;line-height:1.7142857;margin-top:1.7142857em;margin-bottom:1.7142857em;border-radius:.375rem;padding:.8571429em 1.1428571em}.prose pre code{background-color:transparent;border-width:0;border-radius:0;padding:0;font-weight:400;color:inherit;font-size:inherit;font-family:inherit;line-height:inherit}.prose pre code:after,.prose pre code:before{content:none}.prose table{width:100%;table-layout:auto;text-align:left;margin-top:2em;margin-bottom:2em;font-size:.875em;line-height:1.7142857}.prose thead{color:#111827;font-weight:600;border-bottom-width:1px;border-bottom-color:#d1d5db}.prose thead th{vertical-align:bottom;padding-right:.5714286em;padding-bottom:.5714286em;padding-left:.5714286em}.prose tbody tr{border-bottom-width:1px;border-bottom-color:#e5e7eb}.prose tbody tr:last-child{border-bottom-width:0}.prose tbody td{vertical-align:top;padding:.5714286em}.prose{font-size:1rem;line-height:1.75}.prose p{margin-top:1.25em;margin-bottom:1.25em}.prose figure,.prose img,.prose video{margin-top:2em;margin-bottom:2em}.prose figure>*{margin-top:0;margin-bottom:0}.prose h2 code{font-size:.875em}.prose h3 code{font-size:.9em}.prose ol,.prose ul{margin-top:1.25em;margin-bottom:1.25em}.prose li{margin-top:.5em;margin-bottom:.5em}.prose>ul>li p{margin-top:.75em;margin-bottom:.75em}.prose>ul>li>:first-child{margin-top:1.25em}.prose>ul>li>:last-child{margin-bottom:1.25em}.prose>ol>li>:first-child{margin-top:1.25em}.prose>ol>li>:last-child{margin-bottom:1.25em}.prose ol ol,.prose ol ul,.prose ul ol,.prose ul ul{margin-top:.75em;margin-bottom:.75em}.prose h2+*,.prose h3+*,.prose h4+*,.prose hr+*{margin-top:0}.prose thead th:first-child{padding-left:0}.prose thead th:last-child{padding-right:0}.prose tbody td:first-child{padding-left:0}.prose tbody td:last-child{padding-right:0}.prose>:first-child{margin-top:0}.prose>:last-child{margin-bottom:0}.prose-dark,.prose-dark a,.prose-dark a:hover,.prose-dark code,.prose-dark figcaption,.prose-dark h1,.prose-dark h2,.prose-dark h3,.prose-dark h4,.prose-dark h5,.prose-dark h6,.prose-dark strong{color:#fff}.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);white-space:nowrap;border-width:0}.bg-transparent{background-color:transparent}.bg-black{--tw-bg-opacity:1;background-color:rgba(0,0,0,var(--tw-bg-opacity))}.bg-white{--tw-bg-opacity:1;background-color:rgba(255,255,255,var(--tw-bg-opacity))}.bg-gray-900{--tw-bg-opacity:1;background-color:rgba(17,24,39,var(--tw-bg-opacity))}.bg-indigo-500{--tw-bg-opacity:1;background-color:rgba(99,102,241,var(--tw-bg-opacity))}.bg-gelb{--tw-bg-opacity:1;background-color:rgba(255,241,0,var(--tw-bg-opacity))}.bg-blau{--tw-bg-opacity:1;background-color:rgba(24,52,129,var(--tw-bg-opacity))}.bg-dunkelgruen{--tw-bg-opacity:1;background-color:rgba(37,98,70,var(--tw-bg-opacity))}.hover\:bg-gray-100:hover{--tw-bg-opacity:1;background-color:rgba(243,244,246,var(--tw-bg-opacity))}.hover\:bg-indigo-400:hover{--tw-bg-opacity:1;background-color:rgba(129,140,248,var(--tw-bg-opacity))}.active\:bg-black:active{--tw-bg-opacity:1;background-color:rgba(0,0,0,var(--tw-bg-opacity))}.rounded{border-radius:.25rem}.rounded-lg{border-radius:.5rem}.cursor-pointer{cursor:pointer}.block{display:block}.inline{display:inline}.flex{display:flex}.table{display:table}.grid{display:grid}.contents{display:contents}.hidden{display:none}.flex-col{flex-direction:column}.flex-col-reverse{flex-direction:column-reverse}.items-center{align-items:center}.content-center{align-content:center}.self-end{align-self:flex-end}.justify-end{justify-content:flex-end}.justify-center{justify-content:center}.justify-between{justify-content:space-between}.flex-1{flex:1 1 0%}.flex-none{flex:none}.font-light{font-weight:300}.font-bold{font-weight:700}.h-8{height:2rem}.h-28{height:7rem}.h-142{height:42rem}.h-full{height:100%}.h-screen{height:100vh}.text-sm{font-size:1.125rem}.text-2sm{font-size:1.315rem}.text-base{font-size:1.5rem}.text-base2{font-size:1.75rem}.text-lg{font-size:1.875rem}.text-xl{font-size:2rem}.text-2xl{font-size:2.25rem}.text-4xl{font-size:2.75rem}.leading-loose{line-height:2}.mx-auto{margin-left:auto;margin-right:auto}.mr-2{margin-right:.5rem}.mt-3{margin-top:.75rem}.mt-4{margin-top:1rem}.mr-4{margin-right:1rem}.mb-4{margin-bottom:1rem}.ml-4{margin-left:1rem}.mb-5{margin-bottom:1.25rem}.mt-12{margin-top:3rem}.ml-12{margin-left:3rem}.mt-28{margin-top:7rem}.group:hover .group-hover\:ml-2{margin-left:.5rem}.max-w-none{max-width:none}.object-contain{-o-object-fit:contain;object-fit:contain}.opacity-0{opacity:0}.opacity-75{opacity:.75}.overflow-hidden{overflow:hidden}.overflow-y-auto{overflow-y:auto}.overflow-y-hidden{overflow-y:hidden}.p-2{padding:.5rem}.p-3{padding:.75rem}.p-4{padding:1rem}.p-8{padding:2rem}.p-12{padding:3rem}.py-4{padding-top:1rem;padding-bottom:1rem}.px-4{padding-left:1rem;padding-right:1rem}.py-6{padding-top:1.5rem;padding-bottom:1.5rem}.px-6{padding-left:1.5rem;padding-right:1.5rem}.pt-1{padding-top:.25rem}.pt-2{padding-top:.5rem}.pl-2{padding-left:.5rem}.pb-3{padding-bottom:.75rem}.pr-4{padding-right:1rem}.pb-4{padding-bottom:1rem}.pl-4{padding-left:1rem}.pt-5{padding-top:1.25rem}.pt-6{padding-top:1.5rem}.pt-8{padding-top:2rem}.pr-8{padding-right:2rem}.pb-8{padding-bottom:2rem}.pl-8{padding-left:2rem}.pt-10{padding-top:2.5rem}.pt-12{padding-top:3rem}.pt-24{padding-top:6rem}.pb-24{padding-bottom:6rem}.pl-24{padding-left:6rem}.pt-40{padding-top:10rem}.pt-48{padding-top:12rem}.pointer-events-none{pointer-events:none}.static{position:static}.fixed{position:fixed}.absolute{position:absolute}.relative{position:relative}.top-0{top:0}.right-0{right:0}.left-0{left:0}.top-2{top:2rem}.left-2{left:2rem}.top-3{top:3rem}.top-5{top:5rem}.left-5{left:5rem}.top-7{top:7rem}.top-8{top:8rem}.top-28{top:7rem}.top-96{top:24rem}.-top-5{top:-5rem}.-left-10{left:-10rem}.-bottom-12{bottom:-12rem}.-left-12{left:-12rem}.-left-56{left:-14rem}.-left-18{left:-18rem}.right-9\/1{right:90%}*{--tw-shadow:0 0 transparent}.shadow-lg{--tw-shadow:0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);box-shadow:var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow)}*{--tw-ring-inset:var(--tw-empty,/*!*/ /*!*/);--tw-ring-offset-width:0px;--tw-ring-offset-color:#fff;--tw-ring-color:rgba(59,130,246,0.5);--tw-ring-offset-shadow:0 0 transparent;--tw-ring-shadow:0 0 transparent}.fill-current{fill:currentColor}.fill-gelb{fill:#fff100}.fill-dunkelgruen{fill:#256246}.group:active .group-active\:fill-current{fill:currentColor}.stroke-current{stroke:currentColor}.group:hover .group-hover\:stroke-white,.stroke-white{stroke:#fff}.group:active .group-active\:stroke-gelb{stroke:#fff100}.stroke-2{stroke-width:2}.group:hover .group-hover\:stroke-0{stroke-width:0}.group:hover .group-hover\:stroke-2{stroke-width:2}.text-left{text-align:left}.text-center{text-align:center}.text-right{text-align:right}.text-black{--tw-text-opacity:1;color:rgba(0,0,0,var(--tw-text-opacity))}.text-white{--tw-text-opacity:1;color:rgba(255,255,255,var(--tw-text-opacity))}.text-indigo-500{--tw-text-opacity:1;color:rgba(99,102,241,var(--tw-text-opacity))}.hover\:text-indigo-400:hover{--tw-text-opacity:1;color:rgba(129,140,248,var(--tw-text-opacity))}.active\:text-gelb:active{--tw-text-opacity:1;color:rgba(255,241,0,var(--tw-text-opacity))}.group:hover .group-hover\:text-black{--tw-text-opacity:1;color:rgba(0,0,0,var(--tw-text-opacity))}.group:hover .group-hover\:text-white{--tw-text-opacity:1;color:rgba(255,255,255,var(--tw-text-opacity))}.group:active .group-active\:text-gelb{--tw-text-opacity:1;color:rgba(255,241,0,var(--tw-text-opacity))}.italic{font-style:italic}.uppercase{text-transform:uppercase}.hover\:underline:hover,.underline{text-decoration:underline}.align-baseline{vertical-align:baseline}.align-top{vertical-align:top}.align-middle{vertical-align:middle}.align-bottom{vertical-align:bottom}.align-text-top{vertical-align:text-top}.align-text-bottom{vertical-align:text-bottom}.visible{visibility:visible}.w-8{width:2rem}.w-24{width:6rem}.w-28{width:7rem}.w-72{width:18rem}.w-96{width:24rem}.w-1\/2{width:50%}.w-11\/12{width:91.666667%}.w-full{width:100%}.z-0{z-index:0}.z-10{z-index:10}.z-20{z-index:20}.z-40{z-index:40}.z-50{z-index:50}.transform{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1;transform:translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.scale-75{--tw-scale-x:.75;--tw-scale-y:.75}.scale-80{--tw-scale-x:.8;--tw-scale-y:.8}.scale-150{--tw-scale-x:1.5;--tw-scale-y:1.5}.scale-170{--tw-scale-x:1.7;--tw-scale-y:1.7}.rotate-160{--tw-rotate:160deg}.transition-height{transition-property:height;transition-timing-function:cubic-bezier(.4,0,.2,1);transition-duration:.15s}.ease-out{transition-timing-function:cubic-bezier(0,0,.2,1)}.duration-200{transition-duration:.2s}@-webkit-keyframes spin{to{transform:rotate(1turn)}}@keyframes spin{to{transform:rotate(1turn)}}@-webkit-keyframes ping{75%,to{transform:scale(2);opacity:0}}@keyframes ping{75%,to{transform:scale(2);opacity:0}}@-webkit-keyframes pulse{50%{opacity:.5}}@keyframes pulse{50%{opacity:.5}}@-webkit-keyframes bounce{0%,to{transform:translateY(-25%);-webkit-animation-timing-function:cubic-bezier(.8,0,1,1);animation-timing-function:cubic-bezier(.8,0,1,1)}50%{transform:none;-webkit-animation-timing-function:cubic-bezier(0,0,.2,1);animation-timing-function:cubic-bezier(0,0,.2,1)}}@keyframes bounce{0%,to{transform:translateY(-25%);-webkit-animation-timing-function:cubic-bezier(.8,0,1,1);animation-timing-function:cubic-bezier(.8,0,1,1)}50%{transform:none;-webkit-animation-timing-function:cubic-bezier(0,0,.2,1);animation-timing-function:cubic-bezier(0,0,.2,1)}}.filter{--tw-blur:var(--tw-empty,/*!*/ /*!*/);--tw-brightness:var(--tw-empty,/*!*/ /*!*/);--tw-contrast:var(--tw-empty,/*!*/ /*!*/);--tw-grayscale:var(--tw-empty,/*!*/ /*!*/);--tw-hue-rotate:var(--tw-empty,/*!*/ /*!*/);--tw-invert:var(--tw-empty,/*!*/ /*!*/);--tw-saturate:var(--tw-empty,/*!*/ /*!*/);--tw-sepia:var(--tw-empty,/*!*/ /*!*/);--tw-drop-shadow:var(--tw-empty,/*!*/ /*!*/);filter:var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)}.embed-responsive{position:relative;display:block;height:0;padding:0;overflow:hidden}.embed-responsive .embed-responsive-item,.embed-responsive>embed,.embed-responsive>iframe,.embed-responsive>object,.embed-responsive>video{position:absolute;top:0;left:0;bottom:0;height:100%;width:100%;border:0}.aspect-ratio-square{padding-bottom:100%}.aspect-ratio-16\/9{padding-bottom:56.25%}.page-template-page-aktiv .entry-content li{margin-top:1rem}@media (min-width:768px){.page-template-page-aktiv .entry-content li{margin-left:1rem}}@media (min-width:1441px){.page-template-page-aktiv .entry-content li{margin-left:4rem}}.page-template-page-aktiv .entry-content li strong{font-weight:700}.page-template-page-aktiv .actors{padding:1.5rem}@media (min-width:1441px){.page-template-page-aktiv .actors{padding:4rem}}.page-template-page-aktiv .actors ul>:not([hidden])~:not([hidden]){--tw-space-y-reverse:0;margin-top:calc(3rem*(1 - var(--tw-space-y-reverse)));margin-bottom:calc(3rem*var(--tw-space-y-reverse))}@media (min-width:1024px){.page-template-page-aktiv .actors ul>:not([hidden])~:not([hidden]){--tw-space-y-reverse:0;margin-top:calc(0px*(1 - var(--tw-space-y-reverse)));margin-bottom:calc(0px*var(--tw-space-y-reverse))}.page-template-page-aktiv .actors ul{display:grid;align-items:flex-start;-moz-column-gap:2rem;column-gap:2rem;row-gap:1.5rem;grid-template-columns:repeat(2,minmax(0,1fr))}}@media (min-width:1441px){.page-template-page-aktiv .actors ul{grid-template-columns:repeat(3,minmax(0,1fr))}}.page-template-page-aktiv .actors ul>li{font-weight:700;font-size:1.875rem}@media (min-width:1024px){.page-template-page-aktiv .actors ul>li ul{grid-template-columns:repeat(1,minmax(0,1fr))}}.page-template-page-aktiv .actors ul>li ul li{font-weight:400;font-size:1.5rem}form label span{display:block;margin-bottom:1rem}form input[type=submit]{--tw-bg-opacity:1;background-color:rgba(0,0,0,var(--tw-bg-opacity))}form input[type=submit]:hover{--tw-bg-opacity:1;background-color:rgba(107,114,128,var(--tw-bg-opacity))}form input[type=submit]{--tw-border-opacity:1;border-color:rgba(0,0,0,var(--tw-border-opacity));border-width:4px;cursor:pointer;padding:.75rem 1.5rem;--tw-text-opacity:1;color:rgba(255,255,255,var(--tw-text-opacity))}form input[multiple],form input[type=date],form input[type=datetime-local],form input[type=email],form input[type=month],form input[type=number],form input[type=password],form input[type=search],form input[type=tel],form input[type=text],form input[type=time],form input[type=url],form input[type=week],form select,form textarea{width:100%}h2{font-weight:900;margin-bottom:1rem}.circle{width:1000px;height:1000px;border-radius:50%;background:#256246;left:-15%}#call_to_action_interessiert p{font-weight:700}@media (min-width:1280px){#call_to_action_interessiert p{font-weight:900;margin-bottom:1rem}}#unfold_me h2{font-size:1.315rem}@media (min-width:1441px){#unfold_me h2{font-size:1.875rem}}.possibilities-decoration{left:-14rem}@media (min-width:1024px){.possibilities-decoration{left:-6rem;top:-2rem;--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1;transform:translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));--tw-scale-x:1.1;--tw-scale-y:1.1}}#howtosupport li{margin-bottom:2rem}#howtosupport li a{text-decoration:underline}#howtosupport li:first-child{position:relative;top:3.2rem}#howtosupport li:nth-child(2n){position:relative;top:5.3rem}#howtosupport li:last-child{position:relative;top:9.1rem}#call_to_action_einladung a{text-decoration:underline}@media (min-width:1024px){#howtosupport li{margin-bottom:4rem}#howtosupport li:first-child,#howtosupport li:last-child,#howtosupport li:nth-child(2n){position:static}}.well_find_us li{margin-bottom:2rem;margin-left:3rem}.well_find_us li a{text-decoration:underline}.system_call_to_action li{margin-top:2rem;margin-bottom:2rem;margin-left:3rem}.system_call_to_action li a{text-decoration:underline}@media (min-width:768px){.well_find_us ul{margin-top:1.25rem}.well_find_us ul li{margin-top:0;margin-bottom:4rem;margin-left:6rem}.well_find_us ul li a{text-decoration:underline}}@media (min-width:1024px){.well_find_us ul{margin-top:2.5rem}.well_find_us ul li{margin-top:0;margin-left:3rem;margin-bottom:4rem}.well_find_us ul li a{text-decoration:underline}}@media (min-width:1441px){.well_find_us ul{margin-top:2.5rem;padding-left:6rem}.well_find_us ul li{margin-top:0;margin-left:3rem;margin-bottom:7rem}.well_find_us ul li a{text-decoration:underline}.system_call_to_action ul{margin-top:2.5rem;padding-left:6rem}.system_call_to_action ul li{margin-bottom:2rem;margin-left:3rem}.system_call_to_action ul li a{text-decoration:underline}}.links-default-underlined a{text-decoration:underline}@media (min-width:1024px){.links-default-underlined ul{margin-left:3rem}.links-default-underlined li{margin-bottom:1.5rem}.links-default-underlined p{margin-bottom:3rem}}#dropdown-toggle:checked+#site-navigation,#menu-toggle:checked+#site-navigation{display:block}.entry-content .wp-block-embed,.entry-content pre{overflow:hidden}.entry-content h1{font-weight:700;font-size:2.5rem}.entry-content h2{font-weight:700;font-size:2.25rem}.entry-content h3{font-size:2rem}.entry-content ol,.entry-content p,.entry-content ul{margin-bottom:2rem}.entry-content ol a,.entry-content p a,.entry-content ul a{text-decoration:underline}.entry-content ol a:hover,.entry-content p a:hover,.entry-content ul a:hover{text-decoration:none}.entry-content figure ul li:before{display:none}.entry-content ul li{list-style-position:inside;list-style-type:none}.entry-content ol li{list-style-position:inside;list-style-type:decimal}.block-editor__typewriter{font-family:Nunito,Avenir,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji}.wp-block{max-width:1024px}.wp-block[data-align=wide]{max-width:1280px}.wp-block[data-align=full]{max-width:100%}.has-large-font-size{font-size:2.5rem;line-height:2.25rem}.has-larger-font-size{font-size:2.75rem;line-height:2.5rem}@media (min-width:640px){.sm\:p-8{padding:2rem}.sm\:pb-9{padding-bottom:2.25rem}.sm\:pt-16{padding-top:4rem}.sm\:pb-16{padding-bottom:4rem}.sm\:top-7{top:7rem}.sm\:scale-160{--tw-scale-x:1.6;--tw-scale-y:1.6}}@media (min-width:768px){.md\:bg-white{--tw-bg-opacity:1;background-color:rgba(255,255,255,var(--tw-bg-opacity))}.md\:bg-red-100{--tw-bg-opacity:1;background-color:rgba(254,226,226,var(--tw-bg-opacity))}.md\:flex{display:flex}.md\:flex-row{flex-direction:row}.md\:text-base{font-size:1.5rem}.md\:mt-10{margin-top:2.5rem}.md\:mb-10{margin-bottom:2.5rem}.md\:mt-40{margin-top:10rem}.md\:max-w-md{max-width:28rem}.md\:pt-0{padding-top:0}.md\:pb-9{padding-bottom:2.25rem}.md\:pt-20{padding-top:5rem}.md\:pl-24{padding-left:6rem}.md\:top-4{top:4rem}.md\:right-100{right:100%}.md\:-top-1{top:-1rem}.md\:-left-8{left:-8rem}.md\:-left-52{left:-13rem}.md\:w-100{width:30rem}.md\:w-1\/2{width:50%}.md\:scale-100{--tw-scale-x:1;--tw-scale-y:1}}@media (min-width:1024px){.lg\:prose-lg{font-size:1.125rem;line-height:1.7777778}.lg\:prose-lg p{margin-top:1.3333333em;margin-bottom:1.3333333em}.lg\:prose-lg [class~=lead]{font-size:1.2222222em;line-height:1.4545455;margin-top:1.0909091em;margin-bottom:1.0909091em}.lg\:prose-lg blockquote{margin-top:1.6666667em;margin-bottom:1.6666667em;padding-left:1em}.lg\:prose-lg h1{font-size:2.6666667em;margin-top:0;margin-bottom:.8333333em;line-height:1}.lg\:prose-lg h2{font-size:1.6666667em;margin-top:1.8666667em;margin-bottom:1.0666667em;line-height:1.3333333}.lg\:prose-lg h3{font-size:1.3333333em;margin-top:1.6666667em;margin-bottom:.6666667em;line-height:1.5}.lg\:prose-lg h4{margin-top:1.7777778em;margin-bottom:.4444444em;line-height:1.5555556}.lg\:prose-lg figure,.lg\:prose-lg img,.lg\:prose-lg video{margin-top:1.7777778em;margin-bottom:1.7777778em}.lg\:prose-lg figure>*{margin-top:0;margin-bottom:0}.lg\:prose-lg figure figcaption{font-size:.8888889em;line-height:1.5;margin-top:1em}.lg\:prose-lg code{font-size:.8888889em}.lg\:prose-lg h2 code{font-size:.8666667em}.lg\:prose-lg h3 code{font-size:.875em}.lg\:prose-lg pre{font-size:.8888889em;line-height:1.75;margin-top:2em;margin-bottom:2em;border-radius:.375rem;padding:1em 1.5em}.lg\:prose-lg ol,.lg\:prose-lg ul{margin-top:1.3333333em;margin-bottom:1.3333333em}.lg\:prose-lg li{margin-top:.6666667em;margin-bottom:.6666667em}.lg\:prose-lg ol>li{padding-left:1.6666667em}.lg\:prose-lg ol>li:before{left:0}.lg\:prose-lg ul>li{padding-left:1.6666667em}.lg\:prose-lg ul>li:before{width:.3333333em;height:.3333333em;top:.72222em;left:.2222222em}.lg\:prose-lg>ul>li p{margin-top:.8888889em;margin-bottom:.8888889em}.lg\:prose-lg>ul>li>:first-child{margin-top:1.3333333em}.lg\:prose-lg>ul>li>:last-child{margin-bottom:1.3333333em}.lg\:prose-lg>ol>li>:first-child{margin-top:1.3333333em}.lg\:prose-lg>ol>li>:last-child{margin-bottom:1.3333333em}.lg\:prose-lg ol ol,.lg\:prose-lg ol ul,.lg\:prose-lg ul ol,.lg\:prose-lg ul ul{margin-top:.8888889em;margin-bottom:.8888889em}.lg\:prose-lg hr{margin-top:3.1111111em;margin-bottom:3.1111111em}.lg\:prose-lg h2+*,.lg\:prose-lg h3+*,.lg\:prose-lg h4+*,.lg\:prose-lg hr+*{margin-top:0}.lg\:prose-lg table{font-size:.8888889em;line-height:1.5}.lg\:prose-lg thead th{padding-right:.75em;padding-bottom:.75em;padding-left:.75em}.lg\:prose-lg thead th:first-child{padding-left:0}.lg\:prose-lg thead th:last-child{padding-right:0}.lg\:prose-lg tbody td{padding:.75em}.lg\:prose-lg tbody td:first-child{padding-left:0}.lg\:prose-lg tbody td:last-child{padding-right:0}.lg\:prose-lg>:first-child{margin-top:0}.lg\:prose-lg>:last-child{margin-bottom:0}.lg\:bg-black{--tw-bg-opacity:1;background-color:rgba(0,0,0,var(--tw-bg-opacity))}.lg\:bg-gray-200{--tw-bg-opacity:1;background-color:rgba(229,231,235,var(--tw-bg-opacity))}.lg\:hover\:bg-black:hover{--tw-bg-opacity:1;background-color:rgba(0,0,0,var(--tw-bg-opacity))}.lg\:block{display:block}.lg\:inline{display:inline}.lg\:flex{display:flex}.lg\:hidden{display:none}.lg\:flex-row{flex-direction:row}.lg\:font-normal{font-weight:400}.lg\:font-bold{font-weight:700}.lg\:h-12{height:3rem}.lg\:h-40{height:10rem}.lg\:h-96{height:24rem}.lg\:h-full{height:100%}.lg\:text-base{font-size:1.5rem}.lg\:text-base2{font-size:1.75rem}.lg\:text-xl{font-size:2rem}.lg\:text-3xl{font-size:2.5rem}.lg\:text-4xl{font-size:2.75rem}.lg\:mt-0{margin-top:0}.lg\:ml-0{margin-left:0}.lg\:mt-6{margin-top:1.5rem}.lg\:mb-6{margin-bottom:1.5rem}.lg\:mt-12{margin-top:3rem}.lg\:mb-16{margin-bottom:4rem}.lg\:mt-24{margin-top:6rem}.lg\:mt-40{margin-top:10rem}.lg\:ml-48{margin-left:12rem}.lg\:p-6{padding:1.5rem}.lg\:p-8{padding:2rem}.lg\:p-16{padding:4rem}.lg\:p-36{padding:9rem}.lg\:pt-0{padding-top:0}.lg\:pr-0{padding-right:0}.lg\:pb-0{padding-bottom:0}.lg\:pl-0{padding-left:0}.lg\:pb-4{padding-bottom:1rem}.lg\:pr-8{padding-right:2rem}.lg\:pb-8{padding-bottom:2rem}.lg\:pl-8{padding-left:2rem}.lg\:pt-12{padding-top:3rem}.lg\:pt-16{padding-top:4rem}.lg\:pl-16{padding-left:4rem}.lg\:pt-24{padding-top:6rem}.lg\:pr-48{padding-right:12rem}.lg\:static{position:static}.lg\:absolute{position:absolute}.lg\:relative{position:relative}.lg\:top-0{top:0}.lg\:top-3{top:3rem}.lg\:top-40{top:10rem}.lg\:-top-1{top:-1rem}.lg\:-left-11,.lg\:-left-44{left:-11rem}.lg\:-left-12{left:-12rem}.lg\:top-1\/1{top:10%}.lg\:left-4\/1{left:40%}.lg\:right-7\/1{right:70%}.lg\:hover\:text-white:hover,.lg\:text-white{--tw-text-opacity:1;color:rgba(255,255,255,var(--tw-text-opacity))}.lg\:no-underline{text-decoration:none}.lg\:w-12{width:3rem}.lg\:w-48{width:12rem}.lg\:w-auto{width:auto}.lg\:w-1\/2{width:50%}.lg\:w-4\/5{width:80%}.lg\:w-full{width:100%}.lg\:scale-100{--tw-scale-x:1;--tw-scale-y:1}.lg\:scale-110{--tw-scale-x:1.1;--tw-scale-y:1.1}.lg\:scale-125{--tw-scale-x:1.25;--tw-scale-y:1.25}}@media (min-width:1280px){.xl\:prose-xl{font-size:1.25rem;line-height:1.8}.xl\:prose-xl p{margin-top:1.2em;margin-bottom:1.2em}.xl\:prose-xl [class~=lead]{font-size:1.2em;line-height:1.5;margin-top:1em;margin-bottom:1em}.xl\:prose-xl blockquote{margin-top:1.6em;margin-bottom:1.6em;padding-left:1.0666667em}.xl\:prose-xl h1{font-size:2.8em;margin-top:0;margin-bottom:.8571429em;line-height:1}.xl\:prose-xl h2{font-size:1.8em;margin-top:1.5555556em;margin-bottom:.8888889em;line-height:1.1111111}.xl\:prose-xl h3{font-size:1.5em;margin-top:1.6em;margin-bottom:.6666667em;line-height:1.3333333}.xl\:prose-xl h4{margin-top:1.8em;margin-bottom:.6em;line-height:1.6}.xl\:prose-xl figure,.xl\:prose-xl img,.xl\:prose-xl video{margin-top:2em;margin-bottom:2em}.xl\:prose-xl figure>*{margin-top:0;margin-bottom:0}.xl\:prose-xl figure figcaption{font-size:.9em;line-height:1.5555556;margin-top:1em}.xl\:prose-xl code{font-size:.9em}.xl\:prose-xl h2 code{font-size:.8611111em}.xl\:prose-xl h3 code{font-size:.9em}.xl\:prose-xl pre{font-size:.9em;line-height:1.7777778;margin-top:2em;margin-bottom:2em;border-radius:.5rem;padding:1.1111111em 1.3333333em}.xl\:prose-xl ol,.xl\:prose-xl ul{margin-top:1.2em;margin-bottom:1.2em}.xl\:prose-xl li{margin-top:.6em;margin-bottom:.6em}.xl\:prose-xl ol>li{padding-left:1.8em}.xl\:prose-xl ol>li:before{left:0}.xl\:prose-xl ul>li{padding-left:1.8em}.xl\:prose-xl ul>li:before{width:.35em;height:.35em;top:.725em;left:.25em}.xl\:prose-xl>ul>li p{margin-top:.8em;margin-bottom:.8em}.xl\:prose-xl>ul>li>:first-child{margin-top:1.2em}.xl\:prose-xl>ul>li>:last-child{margin-bottom:1.2em}.xl\:prose-xl>ol>li>:first-child{margin-top:1.2em}.xl\:prose-xl>ol>li>:last-child{margin-bottom:1.2em}.xl\:prose-xl ol ol,.xl\:prose-xl ol ul,.xl\:prose-xl ul ol,.xl\:prose-xl ul ul{margin-top:.8em;margin-bottom:.8em}.xl\:prose-xl hr{margin-top:2.8em;margin-bottom:2.8em}.xl\:prose-xl h2+*,.xl\:prose-xl h3+*,.xl\:prose-xl h4+*,.xl\:prose-xl hr+*{margin-top:0}.xl\:prose-xl table{font-size:.9em;line-height:1.5555556}.xl\:prose-xl thead th{padding-right:.6666667em;padding-bottom:.8888889em;padding-left:.6666667em}.xl\:prose-xl thead th:first-child{padding-left:0}.xl\:prose-xl thead th:last-child{padding-right:0}.xl\:prose-xl tbody td{padding:.8888889em .6666667em}.xl\:prose-xl tbody td:first-child{padding-left:0}.xl\:prose-xl tbody td:last-child{padding-right:0}.xl\:prose-xl>:first-child{margin-top:0}.xl\:prose-xl>:last-child{margin-bottom:0}.xl\:text-2sm{font-size:1.315rem}.xl\:text-base{font-size:1.5rem}.xl\:ml-48{margin-left:12rem}.xl\:pb-8{padding-bottom:2rem}.xl\:pt-24{padding-top:6rem}.xl\:pt-36{padding-top:9rem}.xl\:pb-36{padding-bottom:9rem}.xl\:top-5{top:5rem}.xl\:-top-1{top:-1rem}.xl\:-left-11{left:-11rem}.xl\:-left-13{left:-13rem}.xl\:w-100{width:30rem}.xl\:scale-100{--tw-scale-x:1;--tw-scale-y:1}.xl\:scale-110{--tw-scale-x:1.1;--tw-scale-y:1.1}}@media (min-width:1441px){.\32xl\:prose-2xl{font-size:1.5rem;line-height:1.6666667}.\32xl\:prose-2xl p{margin-top:1.3333333em;margin-bottom:1.3333333em}.\32xl\:prose-2xl [class~=lead]{font-size:1.25em;line-height:1.4666667;margin-top:1.0666667em;margin-bottom:1.0666667em}.\32xl\:prose-2xl blockquote{margin-top:1.7777778em;margin-bottom:1.7777778em;padding-left:1.1111111em}.\32xl\:prose-2xl h1{font-size:2.6666667em;margin-top:0;margin-bottom:.875em;line-height:1}.\32xl\:prose-2xl h2{font-size:2em;margin-top:1.5em;margin-bottom:.8333333em;line-height:1.0833333}.\32xl\:prose-2xl h3{font-size:1.5em;margin-top:1.5555556em;margin-bottom:.6666667em;line-height:1.2222222}.\32xl\:prose-2xl h4{margin-top:1.6666667em;margin-bottom:.6666667em;line-height:1.5}.\32xl\:prose-2xl figure,.\32xl\:prose-2xl img,.\32xl\:prose-2xl video{margin-top:2em;margin-bottom:2em}.\32xl\:prose-2xl figure>*{margin-top:0;margin-bottom:0}.\32xl\:prose-2xl figure figcaption{font-size:.8333333em;line-height:1.6;margin-top:1em}.\32xl\:prose-2xl code{font-size:.8333333em}.\32xl\:prose-2xl h2 code{font-size:.875em}.\32xl\:prose-2xl h3 code{font-size:.8888889em}.\32xl\:prose-2xl pre{font-size:.8333333em;line-height:1.8;margin-top:2em;margin-bottom:2em;border-radius:.5rem;padding:1.2em 1.6em}.\32xl\:prose-2xl ol,.\32xl\:prose-2xl ul{margin-top:1.3333333em;margin-bottom:1.3333333em}.\32xl\:prose-2xl li{margin-top:.5em;margin-bottom:.5em}.\32xl\:prose-2xl ol>li{padding-left:1.6666667em}.\32xl\:prose-2xl ol>li:before{left:0}.\32xl\:prose-2xl ul>li{padding-left:1.6666667em}.\32xl\:prose-2xl ul>li:before{width:.3333333em;height:.3333333em;top:.66667em;left:.25em}.\32xl\:prose-2xl>ul>li p{margin-top:.8333333em;margin-bottom:.8333333em}.\32xl\:prose-2xl>ul>li>:first-child{margin-top:1.3333333em}.\32xl\:prose-2xl>ul>li>:last-child{margin-bottom:1.3333333em}.\32xl\:prose-2xl>ol>li>:first-child{margin-top:1.3333333em}.\32xl\:prose-2xl>ol>li>:last-child{margin-bottom:1.3333333em}.\32xl\:prose-2xl ol ol,.\32xl\:prose-2xl ol ul,.\32xl\:prose-2xl ul ol,.\32xl\:prose-2xl ul ul{margin-top:.6666667em;margin-bottom:.6666667em}.\32xl\:prose-2xl hr{margin-top:3em;margin-bottom:3em}.\32xl\:prose-2xl h2+*,.\32xl\:prose-2xl h3+*,.\32xl\:prose-2xl h4+*,.\32xl\:prose-2xl hr+*{margin-top:0}.\32xl\:prose-2xl table{font-size:.8333333em;line-height:1.4}.\32xl\:prose-2xl thead th{padding-right:.6em;padding-bottom:.8em;padding-left:.6em}.\32xl\:prose-2xl thead th:first-child{padding-left:0}.\32xl\:prose-2xl thead th:last-child{padding-right:0}.\32xl\:prose-2xl tbody td{padding:.8em .6em}.\32xl\:prose-2xl tbody td:first-child{padding-left:0}.\32xl\:prose-2xl tbody td:last-child{padding-right:0}.\32xl\:prose-2xl>:first-child{margin-top:0}.\32xl\:prose-2xl>:last-child{margin-bottom:0}.\32xl\:text-2sm{font-size:1.315rem}.\32xl\:text-base{font-size:1.5rem}.\32xl\:text-lg{font-size:1.875rem}.\32xl\:text-xl{font-size:2rem}.\32xl\:text-2xl{font-size:2.25rem}.\32xl\:text-6xl{font-size:4rem}.\32xl\:mt-8{margin-top:2rem}.\32xl\:mb-8{margin-bottom:2rem}.\32xl\:mt-12{margin-top:3rem}.\32xl\:mr-12{margin-right:3rem}.\32xl\:p-16{padding:4rem}.\32xl\:p-32{padding:8rem}.\32xl\:pt-48{padding-top:12rem}.\32xl\:top-7{top:7rem}.\32xl\:top-8{top:8rem}.\32xl\:top-96{top:24rem}.\32xl\:-left-9{left:-9rem}.\32xl\:-left-11{left:-11rem}.\32xl\:top-1\/1{top:10%}.\32xl\:w-112{width:35rem}.\32xl\:w-128{width:48rem}.\32xl\:w-2\/3{width:66.666667%}.\32xl\:scale-125{--tw-scale-x:1.25;--tw-scale-y:1.25}.\32xl\:scale-150{--tw-scale-x:1.5;--tw-scale-y:1.5}.\32xl\:scale-160{--tw-scale-x:1.6;--tw-scale-y:1.6}.\32xl\:scale-175{--tw-scale-x:1.75;--tw-scale-y:1.75}}@media (min-width:1920px){.\33xl\:top-60{top:15rem}.\33xl\:scale-125{--tw-scale-x:1.25;--tw-scale-y:1.25}}
/*# sourceMappingURL=style.css.map*/