.page-template-page-aktiv {
  .entry-content {
    li {
      @apply mt-4 ;
      @screen md {
        @apply ml-4 ;
      }
      @screen 2xl {
        @apply ml-16 ;
      }

      strong {
        @apply font-bold;
      }
    }
  }

  .actors {
    @apply p-6 2xl:p-16;
    ul {
      @apply space-y-12 lg:grid lg:grid-cols-2 2xl:grid-cols-3 lg:items-start lg:gap-x-8  lg:gap-y-6 lg:space-y-0;
      > li {
        @apply text-lg font-bold;
        ul {
          @apply lg:grid-cols-1;
          li {
            @apply text-base font-normal;
          }
        }
      }
    }
  }
}